<form action="/personajes/new" method="POST">
    <div class="field">
        <label for="nombre" class="label">Nombre</label>
        <div class="control">
            <input id="nombre" name="nombre" class="input" type="text" placeholder="e.g Vi">
        </div>
    </div>

    <div class="field">
        <label for="descripcion" class="label">Descripción</label>
        <div class="control">
            <input id="descripcion" name="descripcion" class="input" type="text" placeholder="e.g. Criada en las calles salvajes de Zaun...">
        </div>
    </div>

    <div class="field">
        <label for="tipo" class="label">Tipo</label>
        <div class="control">
            <input id="tipo" name="tipo" class="input" type="text" placeholder="e.g. Peleador">
        </div>
    </div>

    <div class="field">
        <label for="imagen" class="label">Imagen</label>
        <div class="control">
            <input id="imagen" name="imagen" class="input" type="text" placeholder="e.g. https://tooys.mx/media/catalog/product/cache/0daeb07bb1d294c1f281fab47369d56a/h/o/hot-toys-league-of-legends-vi-sixth-scale_0.jpg">
        </div>
    </div>

    <input class="button is-primary" type="submit" value="Guardar personaje">
</form>