<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hello Bulma!</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fredoka:wght@400;500;700&family=Quicksand:wght@400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.4/css/bulma.min.css">
    <link rel="stylesheet" href="/css/theme.css">
  </head>
  <body>
    <nav class="navbar" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <a class="navbar-item" href="/">
          <strong>LAU LAB</strong>
        </a>

        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>

      <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
          <a class="navbar-item" href="/personajes">
            Personajes
          </a>
        </div> 

        <div class="navbar-end">
          <div class="navbar-item">
            <div class="buttons">
              <a class="button is-primary" href="/users/signup">
                <strong>Sign up</strong>
              </a>
              <% if (username == '') { %> 
                <a class="button is-light" href="/users/login">
                  Log in
                </a>
              <% } else { %> 
                <a class="button is-light" href="/users/logout">
                  Log out
                </a>
              <% } %>
            </div>
          </div>
        </div>
      </div>
    </nav>


    <section class="section">
      <div class="container">
        <h1 class="title">
          <a href="/personajes">League of Legends</a>
        </h1>
          <p class="subtitle">
              <% if (username != '') { %> 
                Hola <strong><%= username %></strong>!
              <% } %>
          </p>
